{% extends 'base.html.twig' %}

{% block body %}
    <div id="div_connexion" class="card panel-default">
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane active">
                    <h3 class="text-center">Connexion</h3>

                    <p class="text-center">
                        <br>
                        Merci d'utiliser le formulaire suivant pour vous connecter.
                        <br>
                    </p>

                    <form action="{{ path('security_login') }}" method="post">
                        <div class="form-group">
                            <input placeholder="exemple@live.fr" required name="_username" type="text"
                                   class="form-control">
                        </div>
                        <div class="form-group">
                            <input placeholder="Mot de passe" required name="_password" type="password"
                                   class="form-control">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-block btn-primary">Connexion</button>
                        </div>
                    </form>
                </div>
            </div>
            <ul class="toggler text-center small list-unstyled" role="tablist">
                <li role="presentation">Vous n'avez pas de compte ? <a href="{{ path('security_registration') }}">Inscription</a></li>
                <li role="presentation"><a href="mdp-oublie">Mot de passe oublié ?</a></li>
            </ul>
        </div>
    </div>
{% endblock %}