{% extends 'main/base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block bodyOutFromContainer %}
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.vtc-lyonnais.com/wp-content/uploads/2018/12/reservation-chauffeur-priv%C3%A9-lyon-2019.jpg" alt="Los Angeles">
      <div class="carousel-caption">
        <h1>VTC MONTPELLIER</h1>
        <p>Pour tous vos déplacements dans la région Montpellierenne</p>
        <a href="{{ path('reservation') }}"><button type="button" class="btn btn-success">Reservez votre trajet</button></a>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://www.vtc-lyonnais.com/wp-content/uploads/2018/12/vtc-lyon-part-dieu-02-2019.jpg" alt="Chicago">
    </div>
    <div class="carousel-item">
      <img src="{{ asset('img/index_slide/img2.jpg') }}" alt="New York">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>
{% endblock %}

{% block body %}
{% endblock %}
