{% extends 'main/base.html.twig' %}

{% block bodyOutFromContainer %}

<div class="img-fluid img-responsive" id="prestations_508div" style="background-image:url('{{ asset('img/508.jpg') }}');">
    tst
</div>
<div style="background-color: #F2F2F2; padding-top: 50px; padding-bottom: 50px;">
	<div class="container">

		<div class="col-sm-12 align-center">
			<h2 id="creations" class="text-center d-block">Nos services</h2>
			<p class="text-center" style="font-style: italic; color: #535353;">
				Comme tout passionné, je développe mes compétences via des projets personnels
			</p>
		</div>

		<div class="row" style="padding-top: 50px;">
			<div class="col-md-4 col-sm-6 text-center">
					<a href="https://enjoyfiles.com/" target="_blank"><img src="https://www.dylanskiba.fr/assets/img/enjoyfiles.jpg" class="img-fluid realisation" alt="Logo EnjoyFiles"></a><br>
					<p style="padding-top: 25px;">
						<span style="font-size: 75%">
							<a href="https://enjoyfiles.com/" target="_blank">EnjoyFiles</a> est un site de partage de fichier gratuit sans bridage lors des téléchargements et sans demander de compte membre pour l'envoie et le téléchargement.
						</span>
					</p>
			</div>
			<div class="col-md-4 col-sm-6 text-center">
					<a href="https://enjoysnaps.com/" target="_blank"><img src="https://www.dylanskiba.fr/assets/img/enjoysnaps.jpg" class="img-fluid realisation" alt="Logo EnjoySnaps"></a><br>
					<p style="padding-top: 25px;">
						<span style="font-size: 75%">
							<a href="https://enjoysnaps.com/" target="_blank">EnjoySnaps</a> est un site de partage d'image où les utilisateurs peuvent rendre des images publiques afin que toute une communauté puisse voir la création des autres.
						</span>
					</p>
			</div>
			<div class="col-md-4 col-sm-6 text-center">
					<a href="https://enjoytrack.com/" target="_blank"><img src="https://www.dylanskiba.fr/assets/img/enjoytrack.jpg" class="img-fluid realisation" alt="Logo EnjoyTrack"></a><br>
					<p style="padding-top: 25px;">
						<span style="font-size: 75%">
							<a href="https://enjoytrack.com/" target="_blank">EnjoyTrack</a> est un site de tracking de lien permettant de voir le nombre de clique sur un lien et d'avoir accès à d'autres statistiques sans inscription obligatoire.
						</span>
					</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}


