{% extends 'base.html.twig' %}

{% block title %}Prestations{% endblock %}

{% block bodyOutFromContainer %}

<div class="row mr-0" id="prestations_508div">
    <div class="col-md-8 transparentCadre carousel slide">
		<p>
		<h5 class="text-center text-justify text-white">Réservez votre chauffeur privé VTC à Montpellier pour tous vos trajets, aéroport, gares, centre-ville, longue distance, mise à disposition la journée et sur tout le département. Les devis sont gratuits et nos prix sont fixes. Tout vous sera confirmé lors de votre réservation</h5>
		</p>
	</div>
</div>

<div class="row mr-0" style="background-color: #F2F2F2; padding-top: 50px; padding-bottom: 50px;">
	<div class="container">


		<div class="col-sm-12 align-center">
			<h2 id="creations" class="text-center d-block">Nos services</h2>
		</div>

		<div class="row" style="padding-top: 50px;">
			<div class="col-md-4 col-sm-6 text-center">
					<i class="fas fa-phone-square-alt fa-7x"></i><br>
					<p style="padding-top: 25px;">
						7j/7 24h/24, faites appel à votre chauffeur pour vous transporter à votre destination.
					</p>
			</div>
			<div class="col-md-4 col-sm-6 text-center">
					<i class="fas fa-plane fa-7x"></i><br>
					<p style="padding-top: 25px;">
						Réservez votre voiture afin d'assurer une prise en charge des votre arrivée à l'aéroport Montpellier Méditerranée.
					</p>
			</div>
			<div class="col-md-4 col-sm-6 text-center">
					<i class="far fa-calendar-alt fa-7x"></i><br>
					<p style="padding-top: 25px;">
						Mariage, voyage ou anniversaire, faites appel à nous pour tous vos événements dans le but d'être transporté en toute sérénité.
					</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}


