/* Général */

.center{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#header_tel{
    font-size: 22px;
    position:absolute;
    left:-20px
}

#header_map{
    font-size: 22px;
    position:absolute;
    left:-20px
}

#header_trajets_div{
    width: 10%;
    margin-right: 90px;
}

#phoneNumber:hover{
    color:#4BBF73;
}

#header_reservButton_car{
    margin-right:13px;
}

#header_logo:hover{
    color: aqua;
}

#header_logo img{
    max-width: 45%;
	height: auto;
}

.nav-item.active{
    border-bottom: 2px solid #4BBF73;
}

.nav-item:hover{
    border-bottom: 2px solid #4BBF73;
}

.carousel-inner img {
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
}

.carousel-caption {
    transform: translateY(-50%);
    bottom: auto;
    top: 50%;
  }

.carousel-caption h1{
    color: #FDFEFE;
 }

/* Page prestations */
#prestations_508div{
    -webkit-filter: brightness(80%);
    padding-bottom: 15%;
    background-size: cover;
    overflow: hidden;
}


.transparentCadre{
    margin: 50px 250px 0px 250px;
    padding: 20px 20px 20px 20px;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

/* page Reservation */

#reservationFormDiv{
    width: 350px;
}

#reservationRow{
    display: flex;
    justify-content: space-around;
    border: 3px solid black;
}

#map{
    height: 350px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}

#estimationResult{
    display: inline-block;
    text-align: center;
    border: 2px solid #cdd9db;
}

#estimerButton{
    margin-top: 10px;
}

#ulTimeDistance{
    display: inline-flex;
}

#champsReservationSupp{
    margin-top: 15px;
}


/* Page connexion */
#div_connexion{
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 30%;
}