#header_tel{
    font-size: 22px;
    position:absolute;
    left:-20px
}

#phoneNumber:hover{
    color:#4BBF73;
}

#header_reservButton_car{
    margin-right:13px;
}

#header_logo:hover{
    color: aqua;
}

#header_logo img{
    max-width: 45%;
	height: auto;
}

.nav-item.active{
    border-bottom: 2px solid #4BBF73;
}

.nav-item:hover{
    border-bottom: 2px solid #4BBF73;
}

.carousel-inner img {
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: brightness(50%);
}

.carousel-caption {
    transform: translateY(-50%);
    bottom: auto;
    top: 50%;
  }

  .carousel-caption h1{
    color: #FDFEFE;
  }